.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    color: #4d596c
}

.header__logo-container {
display: flex;
gap: 12px;
}

.header__logo {
    margin: 0;
    height: 50px;
    width: 50px;
}

.header__menu-container {
    margin: 0;
    gap: 12px;
    display: flex;
}

.header__about {
    margin: 0 20px 0 auto;
}
